# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are: ##
1. Python
2. JAVA
3. R
4. C++

## Objectives: ##
- List popular languages for data science
- List popular libraries for data science
- List popular data science tools
- Execute arithmatic expressions and get the output

## Some of the commonly used libraries used by Data Scientists include: ##
1. Numpy
2. pandas
3. Matplotlib
4. Seaborn

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| R Studio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [10]:
#This a simple arithmetic expression to mutiply then add integers
z = (3*4)+5
print(z)

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
hrs = 200/60
hrs

3.3333333333333335

## Author ##
Shreyashree Dey